<extend name="Base/common"/>
<block name="hero">
<link rel="stylesheet" href="__CSS__/home.css">
<div class="am-container" style="margin-top:-20px">
<style>
    .card-fix{
      position:fixed;
      margin-top:0;
      top:0;
      left:0;
      background-color: #FFF;
      border-bottom:1px solid #ccc;
      z-index:3;
    }
</style>
<div class="am-accordion-content" style="padding-top:2px">
  <php>
    $OBJECT_LEIBIE = C('OBJECT_LEIBIE');
  </php>
  <ul class="leibie-list" >
    <volist name="list"  id="item">
        <li class="leibie-item">
        <php>
           $arr = explode(',',$key);
        </php>
        <h2 class="leibie-item-title">{$OBJECT_LEIBIE[$arr[0]]}/{$arr[1]}居</h2>
              <ul class="object-list">
                <volist name="item" id="it">
                  <li class="object-item am-cf">
                        <a href="{:U('Home/index/objectShow',array('id'=>$it['id'],'tel'=>I('get.tel')))}">
                          <img  class="am-img-responsive" src="{:getThumbImageById($it['huxing'],300,300)}" width="70" height="70" alt="">
                             <div class="object-text">
                                 <h2 class="object-first am-text-top">{$it.floor}楼 {$it.area}平 <span class="am-text-danger"> {$it.totalprice}万</span></h2>
                                 <div class="object-second">
                                   <eq name="it.pic_num" value="8"><span>多图</span></eq>
                                   <eq name="it.ifspecial" value="1"><span>特价</span></eq>
                                   <eq name="it.ifdingzhang" value="1"><span>顶账</span></eq>
                                   <if condition="$it.ifershou eq 1">
                                      <span>二手</span>
                                   </else>
                                      <span>新房</span>
                                    </if>
                                    <switch name="it.type_span">
                                       <case value="1"><span>顶加阁</span></case>
                                       <case value="2"><span>带花园</span></case>
                                       <case value="3"><span>LOFT</span></case>
                                    </switch>
                                 </div>
                                 <div class="object-third am-text-bottom">{$it.loupan}</div>
                             </div>
                        </a>
                  </li>
                </volist>
              </ul>
        </li>
    </volist>
  </ul>
  <!--
  <div class="am-list-news-ft look-more">
    <a class="getmore" style="color:#fff;" data-page=1 data-url="{:U('Home/property/addmoreobject',array('id'=>I('get.id')))}">加载更多 &raquo</a> 
  </div>
  -->
</div>
</div>
<script>
  $(function(){
    $(window).scroll(function(){
      if($(window).scrollTop()>51){
          $('#card').addClass('card-fix');
        }else{
          $('#card').removeClass('card-fix');
      }
    })
  })
</script>
<script src="__JS__/home.js"></script>
</block>
