<volist name="list" id="item">
    <li class="am-list-item-desced" style="">
      <a href="{:U('Home/index/objectShow',array('id'=>$item['id']))}" style="padding-bottom:0px;padding-top:5px;">
            <a href="{:U('home/index/objectShow',array('id'=>$item['id'],'tel'=>I('get.tel')))}">
              <span style="color:#c40d23;">{$item.title}</span>&nbsp;
              <if condition="$item.pic_num eq 9">
                <span class="am-badge am-badge-warning">多图</span>
              </if>
       </a>
       <div class="am-list-item-text">{$item.description}</div>
     </li>
</volist>
