<extend name="Base/common"/>
<block name="hero">
<link rel="stylesheet" href="__CSS__/home.css">
<link rel="stylesheet" href="__CSS__/ico.css">


<div class="am-container">
	<p class="iconfont" style="color:#FF00E8;;margin-bottom:5px;">&#xe601&nbsp;房源最多</p>
	<ul class="am-list" style="margin-top:0px;">
		<li>
				  <a href="#" class="am-text-truncate" style="padding:8px 0px;">
				  <span class="am-badge am-badge-danger">1</span>富城国际 三室两厅 96平 80万</a>
				  </li>
				  <li>
				  <a href="#" class="am-text-truncate" style="padding:8px 0px;">
				  <span class="am-badge am-badge-warning">2</span>富城国际 三室两厅 96平 80万</a>
				  </li>
				  <li>
				  <a href="#" class="am-text-truncate" style="padding:8px 0px;">
				  <span class="am-badge am-badge-success">3</span>富城国际 三室两厅 96平 80万</a>
				  </li>
				  <li>
				  <a href="#" class="am-text-truncate" style="padding:8px 0px;">
				  <span class="am-badge">4</span>富城国际 三室两厅 96平 80万</a>
				  </li>
				  <li>
				  <a href="#" class="am-text-truncate" style="padding:8px 0px;">
				  <span class="am-badge">5</span>富城国际 三室两厅 96平 80万</a>
				  </li>
	</ul>
</div>


</block>
