<extend name="Base/common"/>
<block name="hero">
<link rel="stylesheet" href="__CSS__/home.css">
<link rel="stylesheet" href="__CSS__/ico.css">


<div class="am-container">
	<p class="iconfont" style="color:#FF4D00;;margin-bottom:5px;">&#xe60c&nbsp;热门商铺</p>
	<ul class="am-list" style="margin-top:0px;">
		<li>
				  <a href="#" class="am-text-truncate" style="padding:8px 0px;">
				  <span class="am-badge am-badge-danger">1</span>&nbsp;&nbsp;经区&nbsp;&nbsp;富城国际</a>
				  </li>
				  <li>
				  <a href="#" class="am-text-truncate" style="padding:8px 0px;">
				  <span class="am-badge am-badge-warning">2</span>&nbsp;&nbsp;高区&nbsp;&nbsp;新天地</a>
				  </li>
				  <li>
				  <a href="#" class="am-text-truncate" style="padding:8px 0px;">
				  <span class="am-badge am-badge-success">3</span>&nbsp;&nbsp;环翠&nbsp;&nbsp;威高广场</a>
				  </li>
				  <li>
				  <a href="#" class="am-text-truncate" style="padding:8px 0px;">
				  <span class="am-badge">4</span>&nbsp;&nbsp;经区&nbsp;&nbsp;丰禾国际</a>
				  </li>
				  <li>
				  <a href="#" class="am-text-truncate" style="padding:8px 0px;">
				  <span class="am-badge">5</span>&nbsp;&nbsp;经区&nbsp;&nbsp;海港城</a>
				  </li>
	</ul>
</div>


</block>
