<extend name="Base/common"/>
<block name="hero">
<link rel="stylesheet" href="__CSS__/home.css">
<script>
  var cbd_table_json = {$cbd_table_json};
  var common_url     = {$common_url|json_encode=###};
  var url = '';
  for(var p in common_url){
     if(p != 'cbd'){
       url += p+'/'+common_url[p]+'/';
     }
   }
  common_url = url;
</script>
<!-- 导航 -->
<div class="yincang2">
 <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}' style="margin-top:-20px;">
  <ul class="am-slides">
      <li>
        	<img src="__IMG__/lunbo1.jpg">
         
      </li>
      <li>
        	<img src="__IMG__/lunbo2.jpg">
         
      </li>
      <li>
        	<img src="__IMG__/sdw1h.jpg">
         
      </li>
  </ul>
</div>

</div>
<!-- 导航 end -->


<!-- 搜索 -->

<!--小于640 搜索-->
<!--
<div class="yincangdh">
  <form class="am-form-inline" style="margin-top:10px" role="form" method="post" action="{:U('search')}">
    <div class="am-g">
      <div class="am-u-sm-12 am-u-sm-centered am-u-md-10 am-u-md-centered am-u-lg-6 am-u-lg-centered" style="padding-left:5px;padding-right:5px;margin-top:-18px;">
          <div class="am-form-group am-form-icon am-form-feedback">
            <input type="text" name="keywords" type="submit" class="am-form-field am-round" placeholder="" style="border:2px solid #ccc;height:35px;">
            <span class="am-icon-search" style="padding-right:10px;color:#ccc"></span>
          </div>
      </div>
    </div>
  </form>
</div>
-->

<!-- 大于640搜索 -->
<div class="yincang2">
  <div class="am-g">
	  <!-- <div class="am-u-sm-6 am-u-sm-centered am-u-md-3 am-u-md-centered am-u-lg-2 am-u-lg-centered" >
		<img src="__IMG__/logo.png" class="logojianju" id="logojianju2" style="margin-bottom:20px"/>
	  </div> -->
  
		<div class="am-u-sm-12 am-u-sm-centered am-u-md-10 am-u-md-centered am-u-lg-6 am-u-lg-centered">
			<form class=" am-topbar-left"  method="post" role="search"  action="{:U(search)}" style="margin-top:20px;">
			  <div class="am-input-group an-sousuo am-form-icon">
				<span class="am-input-group-label" style="padding-left:5px;padding-right:0px;">
					<select name="type" style="border:none;vertical-align:initial;background-color:rgba(255, 255, 255, 0);">
						<php>
						   $type = I('post.type');
						</php>

					<option value="2" <eq name="type" value="2">selected</eq>  >房源</option>
					<option value="1" <eq name="type" value="1">selected</eq> >门店</option>
				  
					</select>
				</span>
				<input type="text" name="keywords" class="am-form-field">
				<span class="am-input-group-btn">
				  <input class="am-btn am-btn-default " type="submit" style="background-color:#c40d23;border-color:#c40d23;color:#fff;" value="搜索" />
				</span>
			  </div>
			  </form>
		</div>
  </div>
</div>
<!-- 搜索 end -->


<!-- 筛选 -->
<div class="am-g">
  <div class="am-u-sm-12 am-u-sm-centered am-u-md-10 am-u-md-centered am-u-lg-6 am-u-lg-centered index-shai index-s">
    <div id="filter">
      <div class="filter-top">
        <ul class="am-g filter-menu am-cf" style="margin-left:0px;margin-right:0px;">
          <li id="cbd-triger" style="padding-left:0px;" ><span >{$filter_menu.cbd|default="区域"}</span> <i class="am-select-icon am-icon-caret-down" style="color:#c40d23;"></i></li>
          <li id="price-triger"><span >{$filter_menu.price|default="价格"}</span> <i class="am-select-icon am-icon-caret-down" style="color:#c40d23;"></i></li>
          <li id="shi-triger"  ><span >{$filter_menu.shi|default="户型"}</span> <i class="am-select-icon am-icon-caret-down" style="color:#c40d23;"></i></li>
          <li id="area-triger" ><span >{$filter_menu.area|default="更多"}</span> <i class="am-select-icon am-icon-caret-down" style="color:#c40d23;"></i></li>
        </ul>
      </div>
      <div id="filter-container">
        <ul id="filter-cbd" data-url="Home/index/index">
          <li><a href="{:U('Home/index/index',array_merge($common_url,array('cbd'=>0)))}"> &nbsp;&nbsp;&nbsp;全{$Think.session.user_city.city_name}</a> </li>
          <volist id="item" name="cbd_table">
              <li class="cbd-second-triger" data-id="{$item.id}">&nbsp;&nbsp;&nbsp;{$item.name}</li>
          </volist>
          <ul class="cbd_second">
          </ul>
        </ul>
        <ul id="filter-price">
          <li><a href="{:U('Home/index/filterproperty',array_merge($common_url,array('price'=>0)))}">&nbsp;&nbsp;&nbsp;不限</a></li>
          <volist id="item" name=":C('HOUSE_PRICE_TABLE')">
          <li><a href="{:U('Home/index/index',array_merge($common_url,array('price'=>$key)))}">&nbsp;&nbsp;&nbsp;{$item}</a></li>
          </volist>
        </ul>
        <ul id="filter-shi">
          <li><a href="{:U('Home/index/index',array_merge($common_url,array('shi'=>0)))}">&nbsp;&nbsp;&nbsp;不限</a></li>
          <volist id="item" name=":C('HOUSE_HUXING_TABLE')">
          <li><a href="{:U('Home/index/index',array_merge($common_url,array('shi'=>$key)))}">&nbsp;&nbsp;&nbsp;{$item}</a></li>
          </volist>
        </ul>
        <ul id="filter-area">
          <li class="area_first_triger">&nbsp;&nbsp;&nbsp;面积</li>
          <li class="area_second_triger">&nbsp;&nbsp;&nbsp;类型</li>
          <ul class="area_first">
              <volist id="item" name=":C('HOUSE_AREA_TABLE')">
              <li><a href="{:U('Home/index/index',array_merge($common_url,array('area'=>$key)))}">&nbsp;&nbsp;&nbsp;{$item}</a></li>
              </volist>
          </ul>
          <ul class="area_second">
            <volist id="item" name=":C('HOUSE_TYPE_TABLE')">
              <li><a href="{:U('Home/index/index',array_merge($common_url,array('type'=>$key)))}">&nbsp;&nbsp;&nbsp;{$item}</a></li>
            </volist>
          </ul>
        </ul>
        <ul id="filter-type">
          <li><a href="{:U('Home/index/index',array_merge($common_url,array('type'=>0)))}">&nbsp;&nbsp;&nbsp;不限</a></li>
        </ul>
      </div>
  </div>
 </div>
</div>
<!-- 筛选 end -->


<!-- 楼盘说说 小于640-->
<div class="yincangdh">
	<div class="am-g">
		<div class="am-u-sm-12 am-u-sm-centered am-u-md-10 am-u-md-centered am-u-lg-6 am-u-lg-centered">
			<div data-am-widget="list_news" class="am-list-news am-list-news-default" style="margin:-1px 0px 0px 0px;">
			  <div class="am-list-news-bd">
				  <ul id="shuo_container" class="am-list">
            <include file="Public/propertyitem" />
				  </ul>
          <div class="am-list-news-ft look-more">
            <a class="getmore" style="color:#fff;" data-page=1 data-url="{:U('Home/index/addmoreproperty',$common_url)}">加载更多房源 &raquo</a>
          </div>
			  </div>
			</div>
		</div>
	</div>
</div>
<!-- 楼盘说说 小于640 end -->

<!-- 楼盘说说 大于640-->
<div class="yincang2">
	<div class="am-g">
		<div class="am-u-sm-12 am-u-sm-centered am-u-md-10 am-u-md-centered am-u-lg-6 am-u-lg-centered">
			<div data-am-widget="list_news" class="am-list-news am-list-news-default" style="margin:-1px 0px 0px 0px;">
			  <div class="am-list-news-bd">
				  <ul class="am-list">
            <include file="Public/propertyitem" />
				  </ul>
          <div class="am-list-news-ft look-more">
            <a class="getmore" style="color:#fff;" data-page=1 data-url="{:U('Home/index/addmoreproperty',$common_url)}">加载更多房源 &raquo</a> 
          </div>
			  </div>
			</div>
		</div>
	</div>
</div>
<!-- 楼盘说说 大于640 end -->
<!-- <div data-am-widget="navbar" class="am-navbar am-navbar-default am-cf am-no-layout" style="height:39px;line-height:39px">
    <ul class="am-navbar-nav am-cf am-avg-sm-4" style="padding:0px;font-size:13px;background:#32b1f1">
      <li style="background:#0f9ae0"><a class="am-text-default" style="color:#fff" href="">楼盘</a></li>
      <li><a style="color:#fff" class="am-text-default" href="{:U(filter)}">房源</a></li>
    </ul>
</div> -->
<div class="am-dimmer am-active" data-am-dimmer style="display: none"></div>
<script src="__JS__/filter.js"></script>
<script src="__JS__/home.js"></script>
</block>
