<extend name="Base/common"/>
<block name="hero">
<link rel="stylesheet" href="__CSS__/home.css" />
<!-- 图片展示CSS -->
<link rel="stylesheet" href="__CSS__/main.css" />
   <div  data-am-widget="slider" class="am-slider am-slider-a1" style="margin-top:-1.6rem">
     <ul class="am-slides">
          <php>
            $array_pic = explode(',',$data['pics']);
            krsort($array_pic);
          </php>
           <li>
              <img src="{:getThumbImageById($data['huxing'],400,250)}">
           </li>
        <volist id="item" name="array_pic">
          <li data-id="{$item}">
             <img class="" src="{:getThumbImageById($item,400,250)}" alt="">
           </li>
         </volist>
     </ul>
   </div>
		<div class="am-container">
				<!-- 标题 -->
        <p class="am-margin-vertical">
            <span class="am-badge am-badge-danger">售</span>
            {$data.lname} {$data.floor}层 {$data.area}平米 {$data.shi}室 {$data.totalprice}万元
            <if condition="$user_info.uid eq $data['uid']">
            <div class="am-cf">
              <div class="am-fr">
                <a href="{:U('home/object/edit',array('id'=>$data['id']))}" class="am-btn am-btn-default am-btn-sm am-round">编辑</a>
                <a href="{:U('home/object/trash',array('id'=>$data['id']))}" data-confirm="确认删除该房源么?" class="am-btn  ajax-post am-btn-sm am-btn-danger am-round">下架</a>
              </div>
            </div>
            </if>
				</p>
					<!-- 房源信息 -->
					<section data-am-widget="accordion" class="am-accordion am-accordion-default"
						data-am-accordion='{ "multiple": true }' style="margin:5px 0px">
						  <dl class="am-accordion-item am-active am-disabled">
							<dt class="am-accordion-title">房源描述</dt>
							<dd class="am-accordion-bd am-collapse am-in">
							  <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
							  <div class="am-accordion-content an-jichu">
								  <a style="color:#666;">{$data.description}</a>
							  </div>
   						</dd>
             </dl>
						  <div class="am-accordion-item am-active am-disabled">
							<dt class="am-accordion-title">基础信息</dt>
							<div class="am-accordion-bd am-collapse am-in">
							  <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
							  <div class="am-accordion-content">
								 <div class="am-g">
									  <div class="am-u-sm-6 an-jichu">楼盘：{$data.lname}</div>
									  <div class="am-u-sm-6 an-jichu">楼层：{$data.floor}层</div>
									  <div class="am-u-sm-6 an-jichu">面积：{$data.area}平米</div>
									  <div class="am-u-sm-6 an-jichu">户型：{$data.shi}室{$data.ting}厅</div>
									  <div class="am-u-sm-6 an-jichu">原价：{$data.originalprice}万元</div>
									  <div class="am-u-sm-6 an-jichu">现价：{$data.totalprice}万元</div>
                    <php>
                        $danjia = intval($data['totalprice']/$data['area']*10000);
                    </php>
                    <div class="am-u-sm-6 an-jichu">单价：{$danjia}元</div>
									  <div class="am-u-sm-12 an-jichu am-text-truncate">位置：{$data.cbd}</div>
								 </div>
							  </div>
							</div>
              <!--
              
            <ul class="am-avg-sm-3">
              <notempty name="data.pics">
              <php>
                $array_pic = explode(',',$data['pics']);
                krsort($array_pic);
              </php>
                      <li class="am-padding-xs">
                      <img class="download-pics am-img-responsive" src="{:getThumbImageById($data['huxing'],150,150)}" data-id="{$data.huxing}" alt="">
                      </li>
                  <volist id="item" name="array_pic">
                      <li class="am-padding-xs">
                      <img class="download-pics am-img-responsive" src="{:getThumbImageById($item,150,150)}" data-id="{$item}" alt="">
                      </li>
                  </volist>
              </notempty>
            </ul>
             -->
                <if condition="is_login() AND ($user_info.identity neq 0)">
                      <dl class="am-accordion-item am-active am-disabled">
                          <dt class="am-accordion-title">代理政策</dt>
                          <dd>
                               <div class="am-g">
                                   <php>
                                      $nei_tel  = $data['nei_tel']?$data['nei_tel']:$data['mobile'];
                                      $nei_name = $data['nei_name']?$data['nei_name']:$data['nickname'];
                                   </php>
                                  <div class="am-u-sm-12 an-jichu">成交政策：&nbsp;&nbsp;&nbsp;{$data.deal_description}</div>
                                  <div class="am-u-sm-12 an-jichu">联系人 ：&nbsp;&nbsp;&nbsp;  {$data.nei_name}</div>
                                  <div class="am-u-sm-12 an-jichu">发布电话：&nbsp;&nbsp;&nbsp;<a class="dianhua" href="{$nei_tel}">{$nei_tel}</a></div>
                               </div>
                          </dd>
                      </dl>
                 <elseif condition="I('get.tel')" />
                      <dl class="am-accordion-item am-active am-disabled">
                          <dt class="am-accordion-title">联系电话</dt>
                          <dd>
                               <div class="am-g">
                                 <div class="am-u-sm-12 an-jichu">
                                   <php>
                                     $connector =  D('member')->alias('a')->join('__UCENTER_MEMBER__ b on a.uid = b.id','left')->where(array('b.mobile'=>I('get.tel')))->getField('nickname');
                                     $connector =  $connector == '安家发布'?'张磊':$connector;
                                   </php>
                                   <span>置业顾问:&nbsp;&nbsp;&nbsp;{$connector}</span><br/>
                                   <span>联系电话:&nbsp;&nbsp;&nbsp;<a  class="dianhua" href="{:I('get.tel')}">{:I('get.tel')}</a> </span>
                                 </div>
                               </div>
                          </dd>
                      </dl>
                  <else />
                        <dl class="am-accordion-item am-active am-disabled">
                          <dt class="am-accordion-title">联系电话</dt>
                          <dd>
                          <div class="am-g">
                            <div class="am-u-sm-12 an-jichu">
                              <php>
                                $gong_tel = $data['gong_tel']?$data['gong_tel']:'0631-5266266';
                                $gong_name = $data['gong_name']?$data['gong_name']:'曹经理';
                              </php>
                              <span>置业顾问:&nbsp;&nbsp;&nbsp;{$gong_name}</span>  <br/>
                              <span>联系电话:&nbsp;&nbsp;&nbsp;<a class="dianhua" href="tel:{$gong_tel}">{$gong_tel}</a></span>
                            </div>
                          </div>
                          </dd>
                        </dl>
                </if>
						  </div>
						</section>
		</div>
		<div class="telandsms">
			<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "id="">
				<ul class="am-navbar-nav am-cf am-avg-sm-6" style="background-color:#c40d23;">
					<li>
							<span class="am-navbar-label" style="color:white" >看房车全程免费接送</span>
					</li>
					<li>
						<a href="" class="">

							<img src="http://amazeui.b0.upaiyun.com/assets/i/cpts/navbar/phone.png"
							alt="呼叫" />
							<span class="am-navbar-label">呼叫</span>
						</a>
					</li>
				</ul>
        <script>
          $(function(){
                //分配电话   
                var tel = $('.dianhua').html();
                $('.telandsms').find('a').last().attr('href','tel:'+tel);
          })  
        </script>
			</div>	
		</div>
</block>
